@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80%;
    padding: 3rem;
    background: #7fffd46a;
    margin: auto;
}

.word-box {
    width: 100%;
    height: 50vh;
    resize: none;
    font-size: 1.5rem;
    overflow-y: scroll;
    padding: 1rem;
    border: none;
    outline: none;
    font-family: sans-serif;
}

.head-tex {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;

}

.head-tex h1 {
    position: relative;
    width: 100%;
    font-weight: bold;
    color: #004748;
    font-size: 2.5rem;
}

.word-box::-webkit-scrollbar {
    width: .09em;
    cursor: default;
}

.word-box::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    cursor: default;
}

.word-box::-webkit-scrollbar-thumb {
    background-color: rgb(65, 64, 64);
    outline: 1px solid #004748;
    cursor: default;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.btn button {
    font-size: 1.5rem;
    text-align: center;
    color: #e2e2e2;
    padding: 0.7rem 1rem;
    background: #004748;
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
    text-transform: capitalize;
    outline: none;
    border: none;
}

.Total-count {
    font-size: 2rem;
    font-weight: 600;
}

@media only screen and (max-width:850px) {
    .container {
        width: 100%;
        margin: 0;
        height: 100%;
    }

    .counter {
        width: 100%;
        display: block;
        text-align: center;
    }

    .btn {
        margin-top: 1rem;
    }
}